* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: url(pic/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    width: 130px;
    cursor: pointer;
    margin-top: -1.5%;
    margin-left: -2%;
}

ul {
    margin-top: -4%;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover, 
ul li a.active {
    color: rgb(230, 104, 59);
}

.skills-info {
    padding: 40px 80px;
    text-align: center;
}

.skills-info h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.skills-info p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-item {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.skill-item h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.skill-item ul {
    list-style-type: none;
}

.skill-item ul li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

/* Progress Bar Styles */
.progress-bar {
    background-color: #f3f3f3;
    border-radius: 10px;
    height: 20px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}

.progress-bar div {
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}

/* Certificate Image */
.certificate-img {
    display: block;
    margin: 20px auto;
    width: 50%; /* Medium size */
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.certificate-container h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.certificate-container p {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    
}

.certificate-container span{
    color: rgb(230,104,59);
}
.certificate-container strong{
    color: rgb(0,0,255);
}